*{
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;

    height: 100vh;

    display: flex;
    
    justify-content: center;
    align-items: center;
    

    background: #EFDADA;
}

.card{
    font-size: 14px;
    
    display: flex;

    flex-direction: column;

    padding: 40px 60px;

    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

h1{
    align-self: center;
    font-weight: bold;
    font-size: 30px;

    margin-bottom: 74px;
}

.inputs{
    display: flex;
    flex-direction: column;
}

label{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    margin-bottom: 12px;
}

input{
    width: 350px;
    height: 46px;

    padding: 15px;

    background: #FFFFFF;
    border: 1px solid #4E4E4E;
    box-sizing: border-box;
    border-radius: 8px;

    margin-bottom: 20px;
}

.input__senha{
    position: relative;
}

img{
    position: absolute;
    top: 15px;
    right: 15px;
}


.entrar{
    all: unset;
    font-family: 'Roboto', sans-serif;

    margin-top: 42px;

    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;

    cursor: pointer;

    width: 111px;
    height: 42px;

    background: #13A1F0;
    border-radius: 8px;

    font-weight: bold;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;
}

